# What is Scikit-learn (sklearn)
* Built on NumPy and Matplotlib (and Python)
* Has many in-built machine learning models
* Methods to evaluate your machine learning models
* Very well-designed API

# What we are going to cover 
* An end-to-end Scikit-learn workflow
* Getting data ready (to be used with machine learning models)
* Choosing a machine learning model (right estimator/algorithm for our problem
* Fitting a model to the data (learning patterns) to learn predictiion
* Making predictions with a models (using patterns)
* Evaluating model predictions 
* Improving models predictions 
* Saving and loading models
* Putting it all together!

# An end-to-end Scikit-learn workflow

In [1]:
import numpy as np

In [3]:
# Getting the data ready
import pandas as pd
heart_disease = pd.read_csv('CSV files/HeartDisease.csv')
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
# 1. Create X (fatures matrix)
X = heart_disease.drop('target', axis = 1)

# Create y (labels)
y = heart_disease ['target']

In [5]:
#  2. choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators = 100) 

# We' ll keep the default hyperparameters
# clf.get_params()

In [6]:
# 3. Fit the model to the training data
from  sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [7]:
clf.fit(X_train, y_train);

In [8]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
260,66,0,0,178,228,1,1,165,1,1.0,1,2,3
70,54,1,2,120,258,0,0,147,0,0.4,1,0,3
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2
234,70,1,0,130,322,0,0,109,0,2.4,1,3,2
83,52,1,3,152,298,1,1,178,0,1.2,1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,57,1,0,165,289,1,0,124,0,1.0,1,3,3
199,65,1,0,110,248,0,0,158,0,0.6,2,2,1
149,42,1,2,130,180,0,1,150,0,0.0,2,0,2
14,58,0,3,150,283,1,0,162,0,1.0,2,0,2
188,50,1,2,140,233,0,1,163,0,0.6,1,1,3

In [9]:
# make a prediction 
y_label = clf.predict(np.array([0, 2, 3, 4]))

C:\Users\chukw\MachineLearning\first_project\DataScience\env\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

ValueError: Expected 2D array, got 1D array instead:
array=[0. 2. 3. 4.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [10]:
y_preds = clf.predict(X_test)
y_preds

array([0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [11]:
y_test

250    0
69     1
4      1
50     1
248    0
      ..
31     1
296    0
92     1
109    1
80     1
Name: target, Length: 61, dtype: int64

In [12]:
# 4. Evaluate the model on the training data and test data
clf.score(X_train, y_train)

1.0

In [13]:
clf.score(X_test, y_test)

0.7868852459016393

In [14]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
250,51,1,0,140,298,0,1,122,1,4.2,1,3,3
69,62,0,0,124,209,0,1,163,0,0.0,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
50,51,0,2,130,256,0,0,149,0,0.5,2,0,2
248,54,1,1,192,283,0,0,195,0,0.0,2,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,65,1,0,120,177,0,1,140,0,0.4,2,0,3
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2
92,52,1,2,138,223,0,1,169,0,0.0,2,4,2
109,50,0,0,110,254,0,0,159,0,0.0,2,0,2
80,41,1,2,112,250,0,1,179,0,0.0,2,0,2

In [15]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.81      0.57      0.67        23
           1       0.78      0.92      0.84        38

    accuracy                           0.79        61
   macro avg       0.80      0.74      0.76        61
weighted avg       0.79      0.79      0.78        61

In [16]:
confusion_matrix(y_test, y_preds)

array([[13, 10],
       [ 3, 35]], dtype=int64)

In [17]:
accuracy_score(y_test, y_preds)

0.7868852459016393

In [18]:
# 5. Improve a model
# Try diffeent amount of n_estimators
np.random.seed(42)
for i in range(10, 100, 10):
    print(f'Trying model with {i} estimators...')
    clf = RandomForestClassifier(n_estimators = i).fit(X_train, y_train)
    print(f'Model accuracy on test set:{clf.score(X_test, y_test) * 100:.2f}%')
    print('')

Trying model with 10 estimators...
Model accuracy on test set:73.77%

Trying model with 20 estimators...
Model accuracy on test set:81.97%

Trying model with 30 estimators...
Model accuracy on test set:80.33%

Trying model with 40 estimators...
Model accuracy on test set:78.69%

Trying model with 50 estimators...
Model accuracy on test set:77.05%

Trying model with 60 estimators...
Model accuracy on test set:80.33%

Trying model with 70 estimators...
Model accuracy on test set:78.69%

Trying model with 80 estimators...
Model accuracy on test set:77.05%

Trying model with 90 estimators...
Model accuracy on test set:77.05%

In [19]:
# 6. Save a model and load it 
import pickle

pickle.dump(clf, open('random_forest_model_1.pkl', 'wb'))

In [20]:
load_mode = pickle.load(open('random_forest_model_1.pkl', 'rb'))
load_mode.score(X_test, y_test)

0.7704918032786885

In [21]:
# Solving all the warning prpimport

In [22]:
import sklearn 
sklearn.show_versions()

System:
    python: 3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]
executable: C:\Users\chukw\MachineLearning\first_project\DataScience\env\python.exe
   machine: Windows-10-10.0.19042-SP0

Python dependencies:
          pip: 21.2.4
   setuptools: 58.0.4
      sklearn: 1.0.1
        numpy: 1.21.2
        scipy: 1.7.1
       Cython: None
       pandas: 1.3.4
   matplotlib: 3.4.3
       joblib: 1.1.0
threadpoolctl: 2.2.0

Built with OpenMP: True

In [23]:
# Let's listify the contents
what_were_covering = [
    '0. An end-to-end Scikit-learn workflow',
    '1. Getting the data ready',
    '2. choose the right estimator/algorithm for our problems',
    '3. Fit the model/algorithm and use it ot make predictions on our',
    '4. Evaluating a model',
    '5. Improve a model',
    '6. Save and load a trained model',
    '7. Putting it all together'
                                           
]

In [24]:
what_were_covering

['0. An end-to-end Scikit-learn workflow',
 '1. Getting the data ready',
 '2. choose the right estimator/algorithm for our problems',
 '3. Fit the model/algorithm and use it ot make predictions on our',
 '4. Evaluating a model',
 '5. Improve a model',
 '6. Save and load a trained model',
 '7. Putting it all together']

In [25]:
# Standard imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# 1. Getting our data ready to be used with machine learning

Three main things we have to do:
    1. Split the data into features and labels (usually `X` and `y`)
    2. Filling (also called imputing ) or disregarding missing values
    3. Converting non-numerical values to numerical values (also called feature encoding)

In [27]:
heart_disease = pd.read_csv('CSV files/HeartDisease.csv')

In [28]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [29]:
X = heart_disease.drop('target', axis = 1)
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [30]:
y = heart_disease['target']
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64